body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #99ccee;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    margin: 0;
    background-image: linear-gradient(to top,rgb(237, 237, 237),  #99ccee); /*blue and white gradient */
}

.game-container {
    text-align: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    margin: 20px auto;
}

.card {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: white;
    cursor: pointer;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card.flipped {
    background-color: #fff;
    color: #333;
}

.card.matched {
    background-color: #2e97cb; /* blue now */
    background-image: linear-gradient(to bottom,rgb(237, 237, 237),  #99ccee); /*blue and white gradient */
    cursor: default;
    pointer-events: none;
    
}

#restart-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    border-color:#4809f7;
}
